#result-table {
  padding-top: 40px;
}

.table-results {
  margin-top: 3%;
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 80%;
  text-align: center;
  margin-left: 10%;
}

.table-results .table-d-results,
.table-results .table-h-results {
  border: 1px solid #ddd;
  padding: 13px;
}

.table-results .table-r-results {
  background-color: white;
}

.table-results .table-h-results {
  padding-top: 13px;
  padding-bottom: 17px;
  text-align: center;
  background-color: #aa0412;
  color: white;
}

.buttons {
  text-align: center;
}

.back-button,
.pdf-button {
  display: inline-block;
  margin: 3%;
}

.logo-date {
  text-align: center;
}

.logo,
.date {
  display: inline-block;
}

.logo {
  margin-right: 29%;
}

.date {
  margin-left: 29%;
}

.editorial-colex-logo {
  background-color: rgb(158, 19, 19);
}
